@using GridMvc.Html
@model IEnumerable<ninja.Models.InvoiceViewModels>

@{
    ViewBag.Title = "Index";
}

<h2>index</h2>

@Html.Grid(Model).Columns(columns =>
{
    columns.Add(c => c.Id).Titled("Id");
    columns.Add(c => c.Type).Titled("Type").Filterable(true);
    columns.Add().Titled("Edit").Encoded(false).Sanitized(false).RenderValueAs(c => @Html.ActionLink("Edit", "Update", "Update", new { id = c.Id, type = c.Type }, null));
    columns.Add().Titled("Delete").Encoded(false).Sanitized(false).RenderValueAs(c => @Html.ActionLink("Delete", "Delete", "Delete", new { id = c.Id, type = c.Type }, null));
}).WithPaging(3).Sortable(true)



@Html.ActionLink("Crear nueva factura", "Index", "New")


